
<%= form_for :embroderies do |f| %>
  <p>
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
  <br>
  <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>
