<div class = "container">
  <div class = "row">
    <div class = "col-md-4 col-md-offset-4 add-wrap-div">
      <h2>Add new model</h2>
      <br>
      <br>
      <%= form_for ([@region, @region.embroderies.build]) do |f| %>

          <div class="field form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>

          <div class="field form-group">
            <%= f.label :image %><br>
            <%= f.file_field :image %>
          </div>
        <br>
        <br>
        <p>
          <%= f.submit "Add Model", class: 'btn btn-success' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
