<div class="container">
  <div class="row">
    <div class="col-md-5"><%= image_tag @region.image, class: "region-img" %></div>
    <div class="col-md-7">
      <div clas = "row">
        <div class="col-md-11 text-box-region">
          <h2 class = "reg-name"><%= @region.name %></h2>
          <br>
          <div><%= @region.description %></div>
          <br>
          <br>
          <button class="btn-add"><%= link_to "ADD MODEL", new_region_embrodery_path(:region_id), class: "show-text" %></button>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "all col-xs-12">
        <div class = "row">
          <div class = "col-xs-12">
            <% @embroderies.each do |embrodery| %>
              <div class = "row ul-list">
                <div class = "col-xs-6 img-show"><%= link_to (image_tag embrodery.image, class: "" ), region_embrodery_path( embrodery, :region_id ) %></div>
                <div class = "col-xs-6">
                 <p class = "e-name"><%= embrodery.name %></p>
                 <button class = "btn-show"><%= link_to "Show", region_embrodery_path( embrodery, :region_id ), class: "show-text" %></button>
                </div>
              </div>
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
