<!DOCTYPE html>
<html>
<head>
  <title>Vezba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favi.png"%>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="row container-fluid">
        <p class="notice"><%= notice %></p>
        <!-- <p class="alert"><%= alert %></p> -->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-3 navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
            <%= link_to (image_tag "Logo.png", class: "brand" ) %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-6">
          <ul class="nav nav-menu-middle">
            <li><%= link_to "HOME", home_index_path, class: "menu-btn" %></li>
            <li><%= link_to "ABOUT", home_about_path, class: "menu-btn" %></li>
            <li><%= link_to "MODELS", regions_path(:region_id), class: "menu-btn" %></li>
            <li><%= link_to "BLOG", regions_path(:region_id), class: "menu-btn" %></li>
            <li><%= link_to "CONTACTS", regions_path(:region_id), class: "menu-btn" %></li>
          </ul>
        </div>

        <div class = "col-md-3 nav-right">
          <ul class=" nav-menu-right navbar-right">
            <% if !user_signed_in? %>
              <li><%= link_to "Log in", new_user_session_path, class: "button-user btn3 menu-btn", metod: :get %></li>
              <li><%= link_to "Sign up", new_user_registration_path, class: "button-user btn3 menu-btn" %></li>
            <% else %>
              <li><%= link_to "Log out", destroy_user_session_path, class: "button-user btn3 menu-btn", method: :delete %></li>
            <% end %>
            <li><a class = "social-btn" href="https://www.facebook.com/groups/vezba/">f</a></li>
            <li><a class = "social-btn" href="">en</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <div class = "container"> -->

      <%= yield %>

    <!-- </div> -->

<footer class="footer">
  <div class="container-fluid">
    <p>Created By <a href="http://gloryangelova.com">Gloria Angelova</a></p>
  </div>
</footer>

</body>
</html>
