<!DOCTYPE html>
<html>
<head>
  <title>Vezba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favi.png"%>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="row container-fluid">
        <p class="notice"><%= notice %></p>
        <!-- <p class="alert"><%= alert %></p> -->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-3 navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
            <%= link_to (image_tag "Logo.png", class: "brand navbar-left" ), home_index_path %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-6">
          <ul class="nav nav-menu-middle">
            <li><%= link_to t("menu.home"), home_index_path, class: "menu-btn" %></li>
            <li><%= link_to t("menu.about"), home_about_path, class: "menu-btn #{current_page?(home_about_path) ? "current" : nil }" %></li>
            <li><%= link_to t("menu.models"), regions_path(:region_id), class: "menu-btn #{current_page?(regions_path(:region_id)) ? "current" : nil }" %></li>
            <!-- <li><%= link_to "BLOG", regions_path(:region_id), class: "menu-btn" %></li> -->
            <!-- <li><%= link_to "CONTACTS", regions_path(:region_id), class: "menu-btn" %></li> -->
          </ul>
        </div>

        <div class = "col-md-3 nav-right">
          <ul class=" nav-menu-right navbar-right">
            <% if !user_signed_in? %>
              <li><%= link_to "Log in", new_user_session_path, class: "button-user btn3", metod: :get %></li>
              <li><%= link_to "Sign up", new_user_registration_path, class: "button-user btn3" %></li>
            <% else %>
              <li><%= link_to "Log out", destroy_user_session_path, class: "button-user btn3", method: :delete %></li>
            <% end %>
            <li><a class = "social-btn" href="https://www.facebook.com/groups/vezba/">f</a></li>
            <li class="fb-en">

            </li>
            <li>
              <%
                current_locale = I18n.locale
                toggle_locale  = current_locale == :en ? 'bg' : 'en'
                current_path   = url_for(params.merge(locale: toggle_locale))
              %>
              <%= link_to toggle_locale,   "#{current_path}", id: "myBtn", class: "social-btn" %>
          </ul>

          <div id="myModal" class="modal">
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2 class="modal-title">Choose Language</h2>
              </div>
              <div class="row modal-body">
                <div class = "col-md-4 col-md-offset-2">
                  <%= image_tag "Bulgaria.jpg", class:"logo" %>
                  <div class = "modal-button"><%= link_to_unless_current "Bulgarian", locale: "bg" %></div>
                </div>
                <div class = "col-md-4">
                  <%= image_tag "english.jpg", class:"logo" %>
                  <div class = "modal-button"><%= link_to_unless_current "English", locale: "en" %></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </nav>


      <%= yield %>


<footer class="footer">
  <div class="container-fluid">
    <p>Created By <a href="http://gloryangelova.com">Gloria Angelova</a></p>
  </div>
</footer>

</body>
</html>
